/* Colors */
$white: #fff;
$dark: #222;

/* Typography */
$font-family-base: system-ui, -apple-system, 'Segoe UI', Roboto, sans-serif;
$font-size-base: 16px;
$line-height-base: normal;

/* Breakpoints */
$breakpoint-mobile: 767px;
$breakpoint-tablet: 1279px;

/* Transitions */
$tr: 0.3s;