@use 'reset';
@use 'variables' as *;

html,
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body {
    background-color: $dark;

    &.-grabbing {
        user-select: none;
        cursor: grabbing;
    }
}

.videos {
    width: 100vw;
    height: 100vh;
    height: 100dvh;// For correct work with iOS Chrome
    overflow-y: scroll; 
    scroll-snap-type: y mandatory;
    scrollbar-width: none; // Firefox
    -ms-overflow-style: none; // IE and Edge
    
    &::-webkit-scrollbar {
        display: none;
        width: 0;
        background: transparent;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100vw;
        height: 100vh;
        height: 100dvh;
        font-size: 200px;
        scroll-snap-align: start;
        scroll-snap-stop: always;

        &-wrapper {
            position: relative;
        }

        video {
            height: 100vh;
            height: 100dvh;

            @media all and (max-width: $breakpoint-mobile) {
                width: 100vw;
                object-fit: cover;
            }
        }

        &__mute-button {
            position: absolute;
            bottom: 24px;
            left: 0;
            width: 90px;
            height: 70px;
            border: none;
            box-shadow: none;
            cursor: pointer;
            transition: $tr;
            z-index: 20;

            &:active {
                transform: scale(0.9);
            }

            &::before {
                display: block;
                position: absolute;
                content: ' ';
                top: 0;
                right: 4px;
                bottom: 0;
                width: 70px;
                background-color: rgba($black, 0.1);
                border-radius: 50%;
                transition: $tr;
            }
            &:hover::before {
                background-color: rgba($black, 0.5);

                @media all and (max-width: $breakpoint-mobile) {
                    background-color: rgba($black, 0.1);
                }
            }

            &::after {
                display: block;
                position: absolute;
                content: ' ';
                top: 50%;
                left: 40px;
                width: 22px;
                height: 19px;
                margin-top: -10px;
                background: url(../images/sound-on.svg) center center no-repeat;
            }

            &.-muted::after {
                background-image: url(../images/sound-off.svg);
            }
        }

        &__state-indicator {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100px;
            height: 100px;
            margin: -50px 0 0 -50px;
            background-color: rgba($dark, 0.75);
            border-radius: 50%;
            visibility: hidden;
            opacity: 0;
            transform: scale(0);
            transition: $tr;

            &::before {
                display: block;
                position: absolute;
                content: ' ';
                top: 50%;
                left: 50%;
                margin-top: -16px;
                height: 31px;
                background-repeat: no-repeat;
                background-position: center center;
            }

            &.-paused {
                animation: fadeInOut 0.75s forwards;

                &::before {
                    width: 18px;
                    margin-left: -9px;
                    background-image: url(../images/pause.svg);
                    background-size: 18px 31px;
                }
            }

            &.-play {
                animation: fadeInOut 0.75s forwards;

                &::before {
                    width: 39px;
                    margin-left: -16px;
                    background-image: url(../images/play.svg);
                    background-size: 39px 31px;
                }
            }

            @keyframes fadeInOut {
                0% {
                    visibility: hidden;
                    opacity: 0;
                    transform: scale(0);
                }
                20% {
                    visibility: visible;
                    opacity: 1;
                    transform: scale(1);
                }
                80% {
                    visibility: visible;
                    opacity: 1;
                    transform: scale(1);
                }
                100% {
                    visibility: hidden;
                    opacity: 0;
                    transform: scale(0);
                }
            }
        }

        &__progress-bar {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            height: 24px;
            opacity: 0;
            cursor: grab;

            [data-state="active"] & {
                opacity: 1;
            }

            &::before {
                display: block;
                position: absolute;
                content: ' ';
                right: 0;
                bottom: 0;
                left: 0;
                height: 5px;
                background-color: rgba($white, 0.3);
                transition: 0.3s linear;

                .-grabbing & {
                    height: 10px;
                }
            }

            &__fill {
                position: absolute;
                bottom: 0;
                left: 0;
                height: 5px;
                background-color: $red;
                transition: 0.3s linear;

                &::before {
                    display: block;
                    position: absolute;
                    content: ' ';
                    top: -5px;
                    right: -5px;
                    width: 20px;
                    height: 20px;
                    background-color: $red;
                    border-radius: 50%;
                    box-shadow: 0 0 7px rgba($dark, 0.75);
                    opacity: 0;
                }

                .-grabbing & {
                    height: 10px;
                    background-color: $red-accent;
                    transition: height 0.3s linear;

                    &::before {
                        background-color: $red-accent;
                        opacity: 1;
                    }
                }

                &.-no-animation {
                    transition: unset;
                }
            }

            @media all and (min-width: $breakpoint-desktop) {
                &:hover {
                    &::before,
                    &__fill {
                        height: 10px;
                    }

                    &__fill::before {
                        opacity: 1;
                    }
                }

                &:hover::before,
                &:hover .videos__item__progress-bar__fill {
                    height: 10px;
                }

                &:hover .videos__item__progress-bar__fill::before {
                    opacity: 1;
                }
            }
        }
    }
}

.control-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    right: 20px;
    width: 70px;
    height: 70px;
    font-size: 0;
    background: $black;
    border-radius: 50%;
    visibility: hidden;
    opacity: 0;
    transition: $tr;

    &:hover {
        background-color: lighten($black, 5);
    }

    &:active {
        transform: scale(0.9);
    }

    @media all and (max-width: $breakpoint-tablet) {
        display: none;
    }

    &.-show {
        visibility: visible;
        opacity: 1;
    }

    &::before {
        display: block;
        content: ' ';
        width: 20px;
        height: 25px;
        background: url(../images/arrow.svg) center center no-repeat;
        background-size: 20px 25px;
    }

    &[data-direction="up"] {
        margin-top: -40px;
    }

    &[data-direction="down"] {
        margin-top: 40px;

        &::before {
            transform: rotate(180deg);
        }
    }
}